<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Mountaineer Music" />
    <meta name="title" property="og:title" content="Mountaineer Music" />
    <meta property="og:type" content="website" />
    <meta name="image" property="og:image" content="https://guitar.com/wp-content/uploads/2019/05/Gibson-Custom-60th-Anniversary-1959-Les-Paul-Standard-badge@1400x1050.jpg" />
    <meta name="description" property="og:description" content="Mountaineer Music" />
    <meta name="author" content="James Smith" />
    <!-- ^^This block is used to display thumbnail images on social media -->

    <link rel="stylesheet" href="/css/style.css">
    <!-- ^^Brining in the CSS file -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ^^This brings in the home, shopping cart, in, and GitHub icons -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap" rel="stylesheet">
    <!-- ^^This block brings in Google Fonts Vujahday and Archivo -->

    <title>Mountaineer Music</title>
</head>