<div id="nav-background">
    <div class="navbar">
        <a href="/">Home</a>
        <div id="logo_div">
            <div class="nav-logo-box">
                <h3 class="nav-logo">Mountaineer</h3>
                <div><h3 class="nav-logo">Music</h3></div>
            </div>
        </div>
        <a href="/admin/new">Add Item</a>
    </div>
</div>