<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta name="description" content="Mountaineer Music" />
        <meta name="title" property="og:title" content="Mountaineer Music" />
        <meta property="og:type" content="website" />
        <meta name="image" property="og:image" content="https://guitar.com/wp-content/uploads/2019/05/Gibson-Custom-60th-Anniversary-1959-Les-Paul-Standard-badge@1400x1050.jpg" />
        <meta name="description" property="og:description" content="Mountaineer Music" />
        <meta name="author" content="James Smith" />
        <!-- ^^This block is used to display thumbnail images on social media -->
    
        <link rel="stylesheet" href="/css/style.css">
        <!-- ^^Brining in the CSS file -->
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- ^^This brings in the home, shopping cart, in, and GitHub icons -->
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap" rel="stylesheet">
        <!-- ^^This block brings in Google Fonts Vujahday and Archivo -->
    
        <title>Mountaineer Music</title>
    </head>

<body>
    
    <div id="nav-background">
        <div class="navbar">
            
            <div style="font-size: 20px; color: white;">
                <a href="/"><i id="nav-hamburger-menu" class="fa fa-home" style="font-size: 28px"></i></a>
            </div>
            <!-- ^^This is the home icon on the left side of the nav bar. This will be transitioned to a hamburger menu with a modal. -->
    
            <a href="/" id="logo_div">
                <div class="nav-logo-box">
                    <h3 class="nav-logo">Mountaineer</h3>
                    <div><h3 class="nav-logo">Music</h3></div>
                </div>
            </a>
            <!-- ^^This is the 'Mountaineer Music' logo/ link to home in the center of the navbar -->
    
            <span style="font-size: 20px; color: white;">
                <a href="/users/cart">
                    <i class="fa fa-shopping-cart" style="font-size: 28px"></i></a>
                        </span>
            <!-- ^^This is the shopping cart icon/link on the right side of the nav bar -->
        </div>
    </div>

    <div class="main-new-box">

        <h2 id="new-title">Add Product</h2>
        <form class="new_form" action="/product_category" method="POST">
            <fieldset>
                <label for="brand">Brand</label><br>
                <input type="text" name="brand"><br>

                <label for="model">Model</label><br>
                <input type="text" name="model"><br>

                <label for="color">Finish Color</label><br>
                <input type="text" name="color"><br>

                <label for="image">Image URL</label><br>
                <input type="text" name="image"><br>

                <label for="price">Price</label><br>
                <input type="number" name="price"><br>

                <label for="category">Main Category</label><br>
                <input type="text" name="category"><br>

                <label for="subC1">First Sub-category</label><br>
                <input type="text" name="subC1"><br>

                <label for="description">Product Description</label><br>
                <input type="text" name="description"><br>

                <input id="create_button" type="submit" value="Create Product"><br>
            </fieldset>
        </form>
    </div>

    <footer>
        <div class="footer-box">
            <a class="footer-a" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact Us</a>
            <span id="copyright">&#169 James Smith</span>
            <span style="font-size: 2.2em; color: white;">
                <a class="footer-a" href="https://github.com/jwsmith2340" target="_blank"><i
                        class="fa fa-github-square"></i></a>
                <a class="footer-a" href="https://www.linkedin.com/in/jwsmith2340/" target="_blank"><i
                        class="fa fa-linkedin-square"></i></a>
            </span>
        </div>
    </footer>
</body>

</html>