<header>
    <h1>MEEN and Auth Boilerplate</h1>
    <nav>
        <a href="/users/login">Login</a>
        <a href="/users/register">Signup</a>
        <a href="/users/logout">Logout</a>
    </nav>
</header>