<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <div class="main">
            <%- include('../partials/nav.ejs') %>
                <div id="category-box">
                    <h3>Category</h3>
                </div>
                
        </div>

        <footer>
            <div class="footer-box">
                <a class="footer-a" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact Us</a>
                <span id="copyright">&#169 James Smith</span>
                <span style="font-size: 2.2em; color: white;">
                    <a class="footer-a" href="https://github.com/jwsmith2340" target="_blank"><i
                            class="fa fa-github-square"></i></a>
                    <a class="footer-a" href="https://www.linkedin.com/in/jwsmith2340/" target="_blank"><i
                            class="fa fa-linkedin-square"></i></a>
                </span>
            </div>
        </footer>

    </body>

</html>