<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <div class="main">
            <%- include('../partials/nav.ejs') %>

                <div id="landing-welcome-box">
                    <div id="landing-welcome-shade"></div>
                </div>

                <div class="category-main-box">

                    <div class="guitar-category">
                        <div class="category-links">
                            <h2 class="category-links-h2">Guitars</h2>
                        <a href="/product_category/guitar"><button class="category-links-button">Shop Now</button></a>
                        </div>
                    </div>
           
                    <div class="bass-category">
                        <div class="category-links">
                        <h2 class="category-links-h2">Basses</h2>
                        <a href="/product_category/bass"><button class="category-links-button">Shop Now</button></a>
                    </div>
                    </div>
               
                    <div class="effects-category">
                        <div class="category-links">
                            <h2 class="category-links-h2">Effects</h2>
                            <a href="/product_category/effects"><button class="category-links-button">Shop Now</button></a>
                        </div>
                    </div>

                </div>

                <div id="index-placeholder"></div>
                
        </div>

        <footer>
            <div class="footer-box">
                <a class="footer-a" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact Us</a>
                <span id="copyright">&#169 James Smith</span>
                <span style="font-size: 2.2em; color: white;">
                    <a class="footer-a" href="https://github.com/jwsmith2340" target="_blank"><i
                            class="fa fa-github-square"></i></a>
                    <a class="footer-a" href="https://www.linkedin.com/in/jwsmith2340/" target="_blank"><i
                            class="fa fa-linkedin-square"></i></a>
                </span>
            </div>
        </footer>
    </body>

</html>