<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')>

    <body>

        <%- include('../partials/nav.ejs') %>

            <%- include('../partials/header.ejs') %>

                <h3>Signup</h3>

                <form action="/users/register" method="post">
                    <input type="email" name="email"><br>
                    <input type="password" name="password"><br>
                    <input type="submit" value="SignUp">
                </form>

    </body>

</html>