/* MOBILE CART */
.landing-cat-bar { display: none }
.dt-cart-box { display: none }

.mob-all-pro-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mob-cart-display {
    height: 150px;
    display: flex;
    width: 90%;
    margin: 7px 0;
    border-top: 1.7px black solid;
    border-bottom: 1px black solid;
    justify-content: space-around;
}

.mob-cart-display-image {
    margin-left: 15px;
    padding: 10px 5px;
    max-width: 55px;
}

.mob-cart-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.mob-product-cart-info {
    width: 60%;
    margin-right: 15px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mob-cart-h4 {
    text-align: center;
}

.mob-cart-p {
    margin-top: 5px;
    font-size: 24px;
}

.mob-cart-p-shipping {
    font-size: 12px;
    color: #002855;
}

.mob-cart-delete-form-button {
    margin-top: 10px;
    color: #d13131;
    background-color: white;
    border: 1px solid #d13131;
    width: 130px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    transition: .3s ease-in-out;
}

.mob-cart-delete-form-button:hover {
    color: white;
    background-color: #d13131;
}

.mob-total-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.mob-total-checkout-taxtotal {
    text-align: center;
    margin-bottom: 5px;
}

.mob-checkout-button {
    margin-top: 10px;
    color: #40A251;
    background-color: white;
    border: 1px solid #40A251;
    width: 225px;
    height: 33px;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s ease-in-out;
}

.mob-checkout-button:hover {
    color: white;
    background-color: #40A251;
}

/* DESKTOP CART */

@media only screen and (min-width: 768px) {

    .mob-total-checkout { display: none }
    .mob-all-pro-display { display: none }
    .main-show { display: none }

    .landing-cat-bar {
        width: 70%;
        display: flex;
        align-items: center;
        height: 4%;
        background-color: #EAAA00;
        border: 0;
        margin: 15px 0 50px 15%;
        border-top: #002855 solid 2px;
        justify-content: flex-start;
    }

    .dt-cart-box {
        width: 70%;
        margin-left: 15%;
        background-color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .dt-all-pro-display {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .dt-cart-display {
        height: 300px;
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-around;
        border-right: 1.5px solid black;
    }

    .dt-cart-display-image {
        margin-left: 15px;
        padding: 10px 5px;
        max-width: 105px;
    }

    .dt-cart-image {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        height: 300px;
    }

    .dt-product-cart-info {
        width: 60%;
        margin-right: 15px;
        padding: 10px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dt-cart-h4 {
        text-align: center;
    }

    .dt-cart-p {
        margin-top: 5px;
        font-size: 34px;
    }

    .dt-cart-p-shipping {
        font-size: 18px;
        color: #002855;
    }

    .dt-cart-delete-form-button {
        margin-top: 10px;
        color: #d13131;
        background-color: white;
        border: 1px solid #d13131;
        width: 130px;
        height: 25px;
        border-radius: 10px;
        font-size: 14px;
        transition: .3s ease-in-out;
    }
    
    .dt-cart-delete-form-button:hover {
        color: white;
        background-color: #d13131;
        cursor: pointer;
    }

    .dt-total-checkout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        margin: 10px 10px 0 25px;
    }
    
    .dt-total-checkout-taxtotal {
        text-align: center;
        margin-bottom: 12px;
    }

    #dt-total-checkout-top-h6 {
        margin-top: 50px;
    }

    .dt-total-checkout-h4 {
        font-size: 15px;
    }

    .dt-cart-p-shipping {
        font-size: 18px;
        color: #002855;
    }

    .dt-cart-p-shipping {
        font-size: 18px;
        color: #002855;
    }

    .dt-checkout-button {
        margin: 10px 0 20px;
        color: #40A251;
        background-color: white;
        border: 1px solid #40A251;
        width: 225px;
        height: 33px;
        border-radius: 10px;
        font-size: 18px;
        transition: .3s ease-in-out;
    }

}