* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 150px;
}

#nav-background {
    width: 100%;
    display: flex;
    align-items: center;
    height: 10%;
    background-color: silver;
    border: 0;
    position: fixed;
    top: 0;
}

.navbar {
    border: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    background-color: black;
}

.navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 17px;
}

.main {
    margin-top: 90px;
}

#category-box {
    background: silver;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-product-display {
    height: 150px;
    display: flex;
    width: 90%;
    margin: 7px 0;
    border-top: 1.7px black solid;
    border-bottom: 1px black solid;
    justify-content: space-around;
}

.product-display-image {
    margin-left: 15px;
    padding: 10px 0;
}

.product-display-info {
    width: 60%;
    margin-right: 15px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-image {
    height: 130px;
}

.home-image-a {

}

.home-name-a {
    text-decoration: none;
    color: black;
}

footer {
    height: 50px;
    background-color: blue;
    width: 100%;
    bottom: 0;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}