/* MOBILE AND GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    height: 150px;
}

#nav-background {
    width: 100%;
    display: flex;
    align-items: center;
    height: 10%;
    background-color: silver;
    border: 0;
    position: fixed;
    top: 0;
}

.navbar {
    border: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    background-color: black;
}

.navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 17px;
}

.main {
    margin-top: 90px;
}

#category-box {
    background: silver;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-product-display {
    height: 150px;
    display: flex;
    width: 90%;
    margin: 7px 0;
    border-top: 1.7px black solid;
    border-bottom: 1px black solid;
    justify-content: space-around;
}

.product-display-image {
    margin-left: 15px;
    padding: 10px 0;
}

.product-display-info {
    width: 60%;
    margin-right: 15px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.home-name-a {
    text-decoration: none;
    color: black;
}

footer {
    height: 50px;
    background-color: black;
    width: 100%;
    bottom: 0;
    position: relative;
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-a {
    text-decoration: none;
    color: white;
}

.footer-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}

#copyright {
    color: white;
   
}

.nav-logo {
    color: white;
    font-family: 'Vujahday Script', cursive;
    font-size: 26px;
}

.nav-logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 20px;
    
}

#logo-img-div {
   display: flex;
   flex-direction: row;
}

.show-product-display {
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 7px 0;
    justify-content: space-around;
    align-items: center;
}

.product-show-image {
    margin-left: 15px;
    padding: 10px 0;
}

.product-show-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.show-image {
    height: 550px;
    padding: 40px;
    border: silver 1px solid;
    border-radius: 5px;
    margin-right: 8px;
}

.product-info-description {
    font-size: 22px;
}

.main-show {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.product-info-price {
    font-size: 28px;
}

#show-add-cart {
    margin-top: 10px;
    color: #40A251;
    background-color: white;
    border: 1px solid #40A251;
    width: 150px;
    height: 33px;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s ease-in-out;
}

#show-add-cart:hover {
    color: white;
    background-color: #40A251;

}

.new_form {
    margin-top: 30px;
    height: 71.3vh;
}

fieldset {
    padding: 15px;
    border-radius: 5px;
    border: var(--blue) solid 3px;
    font-family: sans-serif;
    font-size: 16px;
}

#create_button {
    margin-top: 10px;
    transition: .2s ease-in-out;
    height: 30px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 3px;
    color: white;
    border: 1px solid #40A251;
    color: #40A251;
    background-color: white;
}

#create_button:hover {
    background-color: #40A251;
    color: white;
}

fieldset > input {
    margin-bottom: 15px;
    height: 20px;
    border-radius: 3px;
    border: gray 1px solid;
}

fieldset > input:focus{
    outline: 0;
}

#new-title {
    margin-left: 5%;
    margin-top: 100px;
}

.new_form {
    margin-top: 15px;
}

/* TABLET OPTIMIZATION */
@media only screen and (min-width: 768px){

#category-box {
    margin-top: 120px;
}

.home-product-display {
    justify-content: space-evenly;
}



}